[run]
omit =
    */app.py
    */wsgi.py
    */config.py
    docs/*
    test*
    */tests*
    wsgi.py
    fulltext/config.py
    fulltext/celeryconfig.py
    mock_arxiv.py
    mock_vault.py
    fulltext/agent/__main__.py
