[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto = "*"
"boto3" = "==1.9.137"
botocore = "*"
celery = "==4.4.7"
chardet = "*"
click = "*"
jsonschema = "*"
python-dateutil = "*"
pytz = "*"
redis = "*"
requests = "*"
simplejson = "*"
"urllib3" = "*"
Flask = "*"
"Jinja2" = "*"
Werkzeug = "==0.15.5"
arxiv-base = "==0.16.1post2"
kombu = "==4.6.11"
arxiv-auth = "==0.4.1"
arxiv-vault = "==0.1.1rc15"
retry = "*"
docker = "*"
mypy = "*"

[dev-packages]
nose2 = "*"
mypy = "==0.711"
pydocstyle = "*"
pylint = "*"
coverage = "*"
coveralls = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"

[requires]
python_version = "3.7"
