[Unit]
Description=Notification Consumer for FullText Service

[Service]
Type=notify
ExecStart=/opt/fulltext/bin/start_kcl
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=42s
RestartPreventExitStatus=255
